@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.button_h1 {
  width: 250px;
  height: 75px;
  border-radius: 5px;
  background-color: #dfb9b0;
  color: #515151;
  font-size: 24px;
  border: none;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.button_h1 img {
  width: 30px;
  height: 30px;
  position: relative;
  transform: translateY(5px);
}

.button_h1 > span {
  display: block;
  font-size: 14px;
}

.button_h1:hover {
  background-color: #f4e9c9;
  cursor: pointer;
  transform: translateY(-5px);
}

.card_outline {
  box-sizing: border-box;
  background-color: #DFB9B0;
  width: 350px;
  height: 480px;
  padding: 25px;
  border-radius: 7px;
}

.card_outline .img_container {
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.card_outline .img_container img {
  height: 100%;
  width: 100%;
}

.card_outline .down_block .cake_title {
  margin: 15px 0;
  text-align: left;
  font-size: 20px;
  line-height: 20px;
  color: #515151;
  font-weight: 400;
}

.card_outline .down_block .design_idea {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
  line-height: 16px;
  color: #515151;
}

.card_outline .down_block .voting_area {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card_outline .down_block .voting_area .voting_num {
  margin-top: 35px;
}

.card_outline .down_block .voting_area .voting_num .num {
  font-size: 20px;
  vertical-align: top;
  line-height: 25px;
  color: #515151;
}

.card_outline .down_block .voting_area .voting {
  margin-top: 15px;
  width: 180px;
  height: 60px;
  border-radius: 100px;
  border: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  position: relative;
  color: #515151;
  cursor: pointer;
  background-color: #EFE6E4;
}

.card_outline .down_block .voting_area .voting:hover {
  background-color: #F4E9C9;
}

.card_outline .down_block .voting_area .voting:active span {
  background-image: url(../../img/favorites_icon_h_1.svg);
}

.card_outline .down_block .voting_area .voting span {
  position: absolute;
  right: 15px;
  top: 30px;
  transform: translateY(-50%);
}

.card_outline .down_block .voting_area .voting_num .heart_icon, .card_outline .down_block .voting_area .voting span {
  background-image: url(../../img/favorites_icon_1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: inline-block;
  height: 22px;
  width: 22px;
}

* {
  box-sizing: border-box;
}

.sale_card_outline {
  font-family: "Noto Sans TC", sans-serif;
  background-color: #dfb9b0;
  display: inline-block;
  width: 350px;
  height: 450px;
  border-radius: 5px;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
}

.sale_card_outline .sale_card_img {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin-left: 25px;
  margin-top: 25px;
}

.sale_card_outline .sale_card_img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sale_card_outline .sale_card_description {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.sale_card_outline .sale_card_description .favorite {
  width: 180px;
  height: 60px;
  border-radius: 40px;
  font-size: 20px;
  background-color: #efe6e4;
  border: none;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
}

.sale_card_outline .sale_card_description .favorite span {
  display: inline-block;
  position: relative;
  transform: translateY(-2px);
}

.sale_card_outline .sale_card_description .favorite img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  transform: translateY(5px);
  margin-left: 5px;
}

.sale_card_outline .sale_card_description .favorite:hover {
  cursor: pointer;
  background-color: #f4e9c9;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3), 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
}

.sale_card_outline .sale_card_description p {
  font-size: 24px;
  margin: 0;
}

.sale_card_outline .sale_card_description .p_outline {
  margin-right: 5px;
}

.sale_card_outline .sale_card_description .p_outline p.title {
  margin-top: 25px;
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
}

input.search {
  width: 400px;
  max-width: 100%;
  height: 50px;
  border-radius: 100px;
  border: none;
  padding: 0 30px;
  opacity: 70%;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
  font-size: 20px;
  cursor: text;
}

input.search:focus {
  border: none;
}

* {
  box-sizing: border-box;
}

.title_h1 {
  display: inline-block;
  position: relative;
}

.title_h1 h1 {
  display: inline-block;
  font-size: 36px;
  color: #515151;
}

.title_h1 span {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: #dfb9b0;
}

.title_h1 img {
  width: 58px;
  height: 58px;
  vertical-align: middle;
  position: relative;
  transform: translateY(-10px);
}

* {
  box-sizing: border-box;
}

.watchmore {
  width: 180px;
  height: 60px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 24px;
  background: #515151;
  color: white;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
}

.watchmore:hover {
  color: #515151;
  background: white;
}

.page_select {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.page_select li {
  margin: 0 8px;
}

.page_select li a {
  font-size: 14px;
  border: 1px solid red;
  text-decoration: none;
  color: #515151;
  background-color: white;
  padding: 10px 12px;
  border-radius: 50%;
}

.page_select li a:hover {
  background-color: black;
  color: white;
}

#select_ingredients {
  background-color: #F7EDD4;
  border-radius: 5px;
  padding: 40px 60px;
  position: relative;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

#select_ingredients #choose_label {
  width: 800px;
}

#select_ingredients #choose_label label {
  margin: 5px;
  padding: 5px 15px;
  background: burlywood;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
  line-height: 36px;
}

#select_ingredients .select {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 120px));
}

#select_ingredients .select input {
  margin: 10px 5px;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: inset -1px -1px 3px rgba(0, 0, 0, 0.8);
  position: relative;
}

#select_ingredients .select span {
  width: 120px;
  font-size: 18px;
}

#select_ingredients .select span:last-child {
  margin-bottom: 35px;
}

#select_ingredients .select span:first-child {
  position: relative;
  top: 4px;
  width: 80px;
}

#select_ingredients button {
  position: absolute;
  right: 60px;
  bottom: 40px;
  width: 100px;
  height: 30px;
  background-color: #515151;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#not_pollute_pages .card_outline {
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 28px 28px 15px 28px;
  width: 408px;
  height: 785px;
  margin-top: 50px;
}

#not_pollute_pages .card_outline .close_button {
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 0;
  outline: none;
  position: absolute;
  right: 0;
  top: -46px;
  border-radius: 50%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#not_pollute_pages .card_outline .close_button > i {
  font-size: 22px;
  color: #515151;
}

#not_pollute_pages .card_outline .img_container {
  overflow: hidden;
  width: 350px;
  height: 350px;
  margin: 0 auto;
}

#not_pollute_pages .card_outline .img_container img {
  height: 100%;
  width: 100%;
}

#not_pollute_pages .card_outline .description_block .cake_title {
  margin: 15px 0;
  text-align: left;
  font-size: 21px;
  line-height: 28px;
  color: #515151;
  font-weight: 400;
}

#not_pollute_pages .card_outline .description_block .design_idea {
  margin: 0;
  width: 285px;
  height: 85px;
  overflow-y: scroll;
  font-size: 12px;
  color: #515151;
}

#not_pollute_pages .card_outline .description_block .status_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 33px auto 16px;
}

#not_pollute_pages .card_outline .description_block .status_area .verify {
  color: #5A9308;
  font-size: 0px;
}

#not_pollute_pages .card_outline .description_block .status_area .verify .status_ball {
  vertical-align: middle;
  font-size: 16px;
  margin-right: 3px;
}

#not_pollute_pages .card_outline .description_block .status_area .verify .status_text {
  font-size: 12px;
  vertical-align: middle;
}

#not_pollute_pages .card_outline .description_block .status_area .edit_content {
  width: 85px;
  height: 35px;
  border-radius: 3px;
  border: 0;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
  font-size: 16px;
  color: #515151;
  cursor: pointer;
  background-color: #F7EDD4;
}

#not_pollute_pages .card_outline .description_block .division_line {
  border-top: 1px solid #707070;
}

#not_pollute_pages .card_outline .description_block .gredient_block > h4 {
  margin: 15px 0;
  text-align: left;
  font-size: 21px;
  line-height: 28px;
  color: #515151;
  font-weight: 400;
}

#not_pollute_pages .card_outline .description_block .gredient_block .gredient_content {
  margin: 0;
  width: 285px;
  height: 32px;
  margin-bottom: 25px;
  overflow-y: scroll;
  font-size: 12px;
  color: #515151;
}

#not_pollute_pages .card_outline .description_block .buying_block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#not_pollute_pages .card_outline .description_block .buying_block .go_buying {
  width: 150px;
  height: 50px;
  border-radius: 100px;
  border: 0;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
  font-size: 16px;
  position: relative;
  color: #515151;
  cursor: pointer;
  background-color: #EFE6E4;
}

#not_pollute_pages .card_outline .description_block .buying_block .go_buying:hover {
  background-color: #F4E9C9;
}

#not_pollute_pages .card_outline .description_block .buying_block .go_buying > img {
  width: 16.5px;
  height: 16.5px;
  position: absolute;
  right: 15px;
  top: 17px;
}

header {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  border: 1px solid red;
  /*品涵這邊是留給你你隨意改*/
}

body {
  background-color: #EFE6E4;
}

.assign_page_title_h1_outline {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  border: 1px solid blue;
}

.assign_page_title_h1_outline > div {
  flex: 1;
  margin-top: 70px;
  margin-left: 40px;
  margin-bottom: 100px;
}

.assign_page_title_h1_outline > div span {
  display: none;
}

#assign_page_main {
  width: 1200px;
  border: 1px solid black;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#assign_page_main section {
  border: 1px solid red;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  color: #515151;
}

#assign_page_main section label {
  font-size: 20px;
  margin-bottom: 5px;
}

#assign_page_main section input {
  font-size: 20px;
  margin-bottom: 10px;
  width: 460px;
  height: 45px;
  border-radius: 5px;
}

#assign_page_main button {
  width: 460px;
  height: 55px;
  border-radius: 5px;
  background-color: #F7EDD4;
  margin-top: 20px;
  font-size: 20px;
  color: #515151;
}

#assign_page_main button:hover {
  cursor: pointer;
  background-color: #DFB9B0;
}

#assign_page_main #sign_in a {
  margin-top: -10px;
  font-size: 14px;
  text-decoration: none;
  color: #515151;
}

#assign_page_main #sign_in a:hover {
  color: blue;
}

#assign_page_main #sign_in button:nth-child(6) {
  margin-top: 33px;
}

#assign_page_main #register select {
  width: 140px;
  height: 45px;
  margin-right: 16px;
  border-radius: 5px;
}

#vote_page_main_bar {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#vote_page_main_bar > div {
  margin-top: 100px;
}

#vote_page_main_bar p {
  text-align: center;
  margin-top: 35px;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 100px;
}

#vote_page_main_bar p span {
  display: block;
}

#vote_page_main {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  border: 1px solid red;
}

#vote_page_main .search {
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  margin-bottom: 50px;
}

.vote_title {
  margin-top: 100px;
  margin-left: 150px;
  margin-bottom: 65px;
}

#topthree {
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

#topthree div.vote_topthree {
  margin: 0 auto;
  display: inline-block;
  position: relative;
  background-color: #F7EDD4;
  color: #515151;
}

#topthree div.vote_topthree .topthree_hat {
  position: absolute;
  width: 110px;
  height: 110px;
  border: 1px solid red;
  left: -20px;
  top: -50px;
  transform: rotate(-15deg);
}

#topthree div.vote_topthree .pic_cake {
  height: 260px;
}

#topthree div.vote_topthree > div {
  padding: 10px;
}

#topthree div.vote_topthree > div h1 {
  margin: 0;
}

#topthree div.vote_topthree > div p {
  margin: 0;
}

section#vote {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 70px 35px;
  justify-content: space-between;
  margin-bottom: 80px;
}

section#vote .card_outline {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

section#vote .card_outline .img_container {
  width: 100%;
  height: auto;
}

#product_page_main_bar {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

#product_page_main_bar #change_page {
  max-width: 1120px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

#product_page_main_bar #change_page #chef_cake, #product_page_main_bar #change_page #designer_cake {
  width: 50%;
  font-size: 24px;
  color: #515151;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
}

#product_page_main_bar #change_page #chef_cake:hover, #product_page_main_bar #change_page #designer_cake:hover {
  font-weight: bold;
  text-shadow: 0px 0px 1px #515151 0, 0, 0, 0.8;
}

#product_page_main_bar #change_page #chef_cake {
  background-color: #DFB9B0;
  box-shadow: inset -12px -12px 10px -13px black;
  border-radius: 10px 0px 0px 10px;
}

#product_page_main_bar #change_page #designer_cake {
  border-radius: 0px 10px 10px 0px;
  background-color: #F7F2F1;
}

#product_page_main_bar .search {
  margin-left: calc(100% - 400px);
  align-self: flex-end;
  margin-bottom: 50px;
}

#product_page_main_bar #select_test {
  margin-bottom: 85px;
}

#product_page_main {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

#product_page_main .title_h1 {
  left: 50%;
  transform: translateX(-100%);
  margin-top: 100px;
  margin-left: 150px;
  margin-bottom: 65px;
}

#product_cakecard {
  width: 100%;
  margin-bottom: 80px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 85px 30px;
  max-width: 1120px;
}

#product_cakecard .product_card_outline {
  background-color: #DFB9B0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 350px;
}

#product_cakecard .product_card_outline .product_img_container {
  max-width: 300px;
  margin: 25px;
  width: 100%;
}

#product_cakecard .product_card_outline .product_img_container img {
  width: 300px;
  height: 300px;
}

#product_cakecard .product_card_outline .product_introduce {
  margin: 20px;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#product_cakecard .product_card_outline .product_introduce .product_detail {
  display: flex;
  flex-direction: column;
}

#product_cakecard .product_card_outline .product_introduce .product_detail .product_cake_title {
  font-size: 24px;
}

#product_cakecard .product_card_outline .product_introduce .product_detail .price {
  font-size: 20px;
}

#product_cakecard .product_card_outline .product_introduce .like_button {
  width: 180px;
  height: 60px;
  border-radius: 50px;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
  background-color: #EFE6E4;
  font-size: 20px;
}

#product_cakecard .product_card_outline .product_introduce .like_button img {
  width: 20px;
  height: 20px;
}

#product_details {
  background-color: #EFE6E4;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

#product_details_combination1 {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  background-color: #DFB9B0;
}

#product_details_combination1 #cake_information {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#product_details_combination1 #cake_information #cake_img_outline {
  width: 350px;
  height: 380px;
  position: relative;
  z-index: 1;
}

#product_details_combination1 #cake_information #cake_img_outline .cake_img {
  width: 350px;
  height: 380px;
}

#product_details_combination1 #cake_information #cake_img_outline #change_cake {
  width: 100px;
  height: 100px;
  left: 250px;
  top: 280px;
  z-index: 5;
  position: absolute;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#product_details_combination1 #cake_information #cake_details {
  max-width: 470px;
  height: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#product_details_combination1 #cake_information #cake_details #cake_titlebar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

#product_details_combination1 #cake_information #cake_details #cake_titlebar #cake_title {
  font-size: 36px;
  display: inline-block;
}

#product_details_combination1 #cake_information #cake_details #cake_titlebar .cake_detail_img {
  object-fit: cover;
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-top: 10px;
  cursor: pointer;
}

#product_details_combination1 #cake_information #cake_details #cake_titlebar #cake_clear {
  width: 100px;
  height: 40px;
  align-items: center;
}

#product_details_combination1 #cake_information #cake_details #cake_titlebar button {
  display: inline-block;
  width: 100px;
  height: 40px;
  font-size: 20px;
  border: 2px solid #515151;
  background-color: #DFB9B0;
  border-radius: 10px;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#product_details_combination1 #cake_information #cake_details .cake_content {
  width: 470px;
  font-size: 16px;
}

#product_details_combination1 #cake_information #cake_details #cake_size_quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  font-size: 0;
  margin-top: 40px;
}

#product_details_combination1 #cake_information #cake_details #cake_size_quantity #cake_quantity {
  display: block;
  margin-bottom: 40px;
}

#product_details_combination1 #cake_information #cake_details #cake_size_quantity #cake_quantity .qtyminus, #product_details_combination1 #cake_information #cake_details #cake_size_quantity #cake_quantity .qtyplus {
  cursor: pointer;
  width: 50px;
  height: 40px;
  display: inline-block;
  font-size: 25px;
  background-color: #F7Edd4;
}

#product_details_combination1 #cake_information #cake_details #cake_size_quantity #cake_quantity .qty {
  background-color: white;
  margin: 0;
  display: inline-block;
  width: calc(100% - 50px - 50px);
  height: 40px;
  padding: 0px;
  text-align: center;
  font-size: 20px;
  box-sizing: border-box;
}

#product_details_combination1 #cake_information #cake_details #cake_size_quantity #cake_size {
  display: block;
  text-align: right;
  background-color: white;
}

#product_details_combination1 #cake_information #cake_details #cake_size_quantity #cake_size select {
  cursor: pointer;
  width: 100%;
  height: 40px;
  font-size: 20px;
  text-align: center;
}

.addenda_titlebar {
  margin: 0 auto;
  margin-top: 45px;
  max-width: 900px;
  width: 100%;
}

.addenda_titlebar .addenda_title {
  font-size: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.addenda_titlebar .addenda_cancel_icon {
  display: inline-block;
  width: 35px;
  height: 35px;
}

.addenda_titlebar .addenda_cancel_icon img {
  object-fit: cover;
  background-color: black;
}

.addenda_detail_item {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.addenda_detail_item #addenda_detail {
  max-width: 350px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.addenda_detail_item .addenda_img {
  width: 200px;
  height: 200px;
}

.addenda_detail_item .addenda_img img {
  object-fit: fill;
  width: 200px;
  height: 200px;
}

.addenda_detail_item .addenda_describe {
  max-width: 120px;
  white-space: pre-wrap;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

.addenda_detail_item .addenda_detail_outline {
  max-width: 470px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addenda_detail_item .addenda_detail_outline .addenda_amount {
  width: 200px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}

.addenda_detail_item .addenda_detail_outline .addenda_amount select {
  width: 200px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  background-color: #F8F8F8;
  cursor: pointer;
}

.addenda_detail_item .addenda_detail_outline .addenda_twandprice {
  align-self: center;
  display: flex;
  justify-content: space-between;
  max-width: 120px;
  width: 100%;
}

.addenda_detail_item .addenda_detail_outline .addenda_twandprice .addenda_price_tw {
  font-size: 24px;
}

.addenda_detail_item .addenda_detail_outline .addenda_twandprice .addenda_price {
  font-size: 24px;
  align-self: center;
  text-align: right;
  max-width: 100px;
  width: 100%;
}

.addenda_detail_item .addenda_detail_outline span bottom {
  margin-bottom: 80px;
}

.addenda_block {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #F7Edd4;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  margin-top: 70px;
}

.addenda_block #block_line {
  border: 1px solid #707070;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 60px;
  width: 80%;
  height: 1px;
}

.addnew_product_hr {
  max-width: 900px;
  margin: 0 auto;
  border-top: 1px solid #515151;
  width: 100%;
  display: block;
  margin-top: 80px;
  margin-bottom: 60px;
}

.new_addenda_titlebar {
  width: 100%;
  height: 200px;
  max-width: 900px;
  margin: auto;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  justify-content: center;
  align-items: center;
}

.new_addenda_titlebar .new_addenda {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  height: 120px;
  padding-top: 15px;
  padding-bottom: 20px;
  cursor: pointer;
}

.new_addenda_titlebar .new_addenda .new_addenda_title {
  font-size: 20px;
  margin: 0 auto;
  color: #DFB9B0;
}

.new_addenda_titlebar .new_addenda img {
  width: 45px;
  height: 45px;
  align-self: center;
}

.addnew_product_hr2 {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  display: block;
  margin-bottom: 50px;
}

#product_details_combination1_commit {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #515151;
  width: 120px;
  height: 40px;
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
}

#product_details_combination1_commit:hover {
  color: #F4E9C9;
}

#product_details_combination2 {
  cursor: pointer;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  background-color: #EBDCD8;
}

#product_details_combination2 .new_combination {
  margin-left: 60px;
  max-width: 280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#product_details_combination2 .new_combination .new_combination_title {
  font-size: 28px;
}

#product_details_combination2 .new_combination img {
  width: 40px;
  height: 40px;
}

#product_details_combination3 {
  width: 100%;
  max-width: 1120px;
  height: 350px;
  background-color: #EBDCD8;
  display: flex;
  justify-content: space-between;
}

#product_details_combination3 #product_details_total {
  width: 100%;
  max-width: 700px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 60px;
  margin-top: 50px;
}

#product_details_combination3 #product_details_total #combination_titlebar {
  margin-bottom: 40px;
}

#product_details_combination3 #product_details_total #combination_titlebar #combination_title {
  font-size: 28px;
}

#product_details_combination3 #product_details_total .combination_contentbar {
  max-width: 700px;
  width: 100%;
  font-size: 20px;
}

#product_details_combination3 #product_details_total .combination_contentbar .product_contentbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#product_details_combination3 #product_details_total .combination_contentbar .product_contentbar .product {
  display: inline-block;
  max-width: 280px;
  width: 100%;
}

#product_details_combination3 #product_details_total .combination_contentbar .product_contentbar .product_priceandamount {
  display: flex;
  justify-content: space-between;
  max-width: calc(100% - 280px);
  width: 100%;
}

#product_details_combination3 #product_details_total .combination_contentbar .product_contentbar .product_priceandamount .proudct_amount_x {
  display: flex;
  justify-content: center;
}

#product_details_combination3 #product_details_total .combination_contentbar .product_contentbar .product_priceandamount .proudct_amount_number {
  display: inline-block;
  margin-left: 5px;
}

#product_details_combination3 #product_details_total .combination_contentbar .product_contentbar .product_priceandamount .product_price_tw {
  display: flex;
  justify-content: space-between;
  max-width: 120px;
  width: 100%;
}

#product_details_combination3 #product_details_total .combination_contentbar .product_contentbar .product_priceandamount .product_price {
  margin-left: 5px;
  display: inline-block;
  max-width: 100px;
  width: 100%;
  text-align: right;
}

#product_details_combination3 #product_logo_img {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#product_details_combination3 #product_logo_img img {
  width: 250px;
  height: 190px;
}

.addnew_product_hr2 {
  max-width: 700px;
  margin: 0 auto;
  border-top: 1px solid #515151;
  width: 100%;
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
}

#product_details_combination4 {
  max-width: 1120px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 0;
}

#product_details_combination4 #product_details_combination_checkout {
  background-color: #F7EDD4;
  max-width: 1120px;
  width: 100%;
  height: 70px;
  font-size: 24px;
  border: 0;
  border-radius: 5px;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#shopping_banner {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 350px;
  max-width: 1200px;
  width: 100%;
}

#shopping_banner .shopping_title {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#shopping_cart_bread {
  width: 60%;
  justify-content: space-around;
  display: flex;
  margin: 0 auto;
  font-size: 36px;
}

#shopping_cart_bread #prepare_checkout_page, #shopping_cart_bread #checkout_page {
  opacity: .2;
}

#shopping_cart_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#shopping_cart_list #shopping_cart_list_outline {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 90%;
  background-color: #DFB9B0;
  border-radius: 5px;
  height: 230px;
  margin-bottom: 40px;
}

#shopping_cart_list #shopping_cart_list_outline .shopping_cart_block {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1080px;
}

#shopping_cart_list #shopping_cart_list_outline .shopping_cart_block .choose_cakeandimg {
  display: flex;
  align-items: center;
  max-width: 215px;
  width: 100%;
  justify-content: space-between;
}

#shopping_cart_list #shopping_cart_list_outline .shopping_cart_block #shopping_cart_check {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#shopping_cart_list #shopping_cart_list_outline .shopping_cart_block .shopping_cart_img {
  width: 150px;
  height: 150px;
}

#shopping_cart_list #shopping_cart_list_outline .shopping_cart_block .choose_contentandcancel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 830px;
  width: 100%;
}

#shopping_cart_list #shopping_cart_list_outline .shopping_cart_block .choose_contentandcancel .choose_content {
  max-width: 600px;
  width: 100%;
}

#shopping_cart_list #shopping_cart_list_outline .shopping_cart_block .choose_contentandcancel .cancel_logo {
  width: 25px;
  height: 30px;
  cursor: pointer;
}

#shopping_cart_button {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
}

#shopping_cart_button #return_shopping, #shopping_cart_button #goto_checkout {
  width: 120px;
  height: 60px;
  font-size: 20px;
  text-align: center;
  align-items: center;
  background-color: #707070;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

#shopping_cart_button #goto_checkout:hover {
  color: #F4E9C9;
}

#shopping_cart_button #return_shopping:hover {
  color: #F4E9C9;
}

#shopping_cart_list {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

#shopping_banner {
  font-size: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  max-width: 1200px;
  width: 100%;
  margin-bottom: 60px;
}

#shopping_banner .shopping_title {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#shopping_cart_bread {
  width: 60%;
  justify-content: space-around;
  display: flex;
  margin: 0 auto;
  font-size: 36px;
  margin-bottom: 50px;
  max-width: 1200px;
}

#bill_list_outline {
  box-sizing: border-box;
  width: 100%;
  max-width: 1120px;
}

#bill_list_outline #bill_list_titlebar {
  background-color: #DFB9B0;
  max-width: 1120px;
  width: 100%;
  display: flex;
  border-radius: 10px 10px 0 0;
  height: 140px;
  align-items: center;
  font-size: 28px;
}

#bill_list_outline #bill_list_titlebar #list_id {
  align-items: center;
  display: flex;
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
}

#bill_list_outline #bill_list_contentbar {
  width: 100%;
  max-width: 1120px;
  display: flex;
  justify-content: center;
}

#bill_list_outline #bill_list_contentbar #bill_individual_outline {
  width: 70%;
  max-width: 1120px;
  background-color: #F7F2F1;
}

#bill_list_outline #bill_list_contentbar #bill_individual_outline #bill_individual {
  width: 100%;
  max-width: 735px;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

#bill_list_outline #bill_list_contentbar #bill_individual_outline #bill_individual title {
  font-size: 24px;
}

#bill_list_outline #bill_list_contentbar #bill_details_outline {
  width: 30%;
  max-width: 1150px;
  background-color: #F4E9C9;
}

#main-bar-img {
  height: 500px;
  background-image: url("../../img/background_img500.png");
  background-size: auto 100%;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#member_data_page {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}

#member_data_page .main_bar {
  height: 500px;
  padding-top: 150px;
}

#member_data_page .main_bar #avatar_container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0px auto 50px;
}

#member_data_page .main_bar #member_page_nav {
  display: flex;
  justify-content: space-between;
  width: 410px;
  margin: 0 auto 110px;
}

#member_data_page .main_bar #member_page_nav .member_page_nav_link {
  width: 82px;
  height: 92px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

#member_data_page .main_bar #member_page_nav .member_page_nav_link > img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  cursor: pointer;
}

#member_data_page .main_bar #member_page_nav .member_page_nav_link > span {
  width: 82px;
  height: 32px;
  background-color: #FFFFFF;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  color: #9F746B;
  cursor: pointer;
}

#member_data_page .main_bar #member_page_nav .member_page_nav_link.-on > span {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#member_data_page #member_name_block {
  width: 535px;
  font-size: 0px;
  margin: 40px auto 70px;
  color: #515151;
}

#member_data_page #member_name_block > form {
  display: flex;
  justify-content: space-between;
}

#member_data_page #member_name_block > form span {
  font-size: 20px;
}

#member_data_page #member_name_block > form .data-input {
  border: 1px solid #515151;
  outline: none;
  font-size: 20px;
  display: none;
}

#member_data_page #member_name_block > form img {
  position: relative;
  top: 2.5px;
  cursor: pointer;
  margin-left: 7px;
}

#member_data_page #member_data_block {
  width: 93%;
  height: 250px;
  margin: 0 auto;
  padding-left: 100px;
  background-color: #F7EDD4;
  color: #515151;
  border-radius: 5px;
}

#member_data_page #member_data_block > form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#member_data_page #member_data_block > form > div {
  padding: 10px 0;
}

#member_data_page #member_data_block > form > div span {
  font-size: 20px;
}

#member_data_page #member_data_block > form > div img {
  position: relative;
  top: 2.5px;
  cursor: pointer;
}

#member_data_page #member_data_block > form > div .data-input {
  border: 1px solid #515151;
  outline: none;
  font-size: 20px;
  display: none;
}

#member_data_page #cake_design {
  text-align: center;
  padding: 0 40px;
}

#member_data_page #cake_design .title_h1 {
  margin-bottom: 40px;
}

#member_data_page #cake_design .title_h1 > h1 {
  margin-top: 50px;
  font-weight: normal;
}

#member_data_page #cake_design #cake_design_cards {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

#member_data_page #cake_design #cake_design_cards .card_outline {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

#member_data_page #cake_design #cake_design_cards .card_outline .description_block .cake_title {
  margin: 15px 0;
  text-align: left;
  font-size: 20px;
  line-height: 20px;
  color: #515151;
  font-weight: 400;
}

#member_data_page #cake_design #cake_design_cards .card_outline .description_block .design_idea {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
  line-height: 16px;
  color: #515151;
}

#member_data_page #cake_design #cake_design_cards .card_outline .description_block .status_area {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#member_data_page #cake_design #cake_design_cards .card_outline .description_block .status_area .verify {
  margin-top: 35px;
  color: #5A9308;
  font-size: 0px;
}

#member_data_page #cake_design #cake_design_cards .card_outline .description_block .status_area .verify .status_ball {
  vertical-align: middle;
  font-size: 16px;
  margin-right: 3px;
}

#member_data_page #cake_design #cake_design_cards .card_outline .description_block .status_area .verify .status_text {
  font-size: 12px;
  vertical-align: middle;
}

#member_data_page #cake_design #cake_design_cards .card_outline .description_block .status_area .checking {
  margin-top: 15px;
  width: 180px;
  height: 60px;
  border-radius: 100px;
  border: 0;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  position: relative;
  color: #515151;
  cursor: pointer;
  background-color: #EFE6E4;
}

#member_data_page #cake_design #cake_design_cards .card_outline .description_block .status_area .checking:hover {
  background-color: #F4E9C9;
}

#member_data_page #cake_design #cake_design_cards .card_outline .description_block .status_area .checking > i {
  position: absolute;
  right: 15px;
  top: 30px;
  transform: translateY(-50%);
}

#member_data_page #cake_design #view_all_design_area #view_all_design_button {
  width: 180px;
  height: 60px;
  background-color: #707070;
  color: #FFFFFF;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 7px;
  margin: 50px 0;
  font-size: 24px;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
}

#member_data_page #cake_design #view_all_design_area #view_all_design_button:hover {
  background-color: #F4E9C9;
  color: #515151;
}

#member_data_page #coupon_block {
  margin: 0 40px 32px;
  background-color: #DFB9B0;
  border-radius: 5px;
  text-align: center;
}

#member_data_page #coupon_block .title_h1 > h1 {
  margin-bottom: 32px;
  font-weight: normal;
}

#member_data_page #coupon_block #coupon_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 40px;
}

#member_data_page #coupon_block #coupon_area #coupon {
  display: inline-flex;
  margin: 0 15px 30px;
}

#member_data_page #coupon_block #coupon_area #coupon #coupon_left_block {
  width: 300px;
  height: 150px;
  background-color: #F0D5CE;
  position: relative;
  border-right: 1px solid #DFB9B0;
  border-top-left-radius: 5px;
}

#member_data_page #coupon_block #coupon_area #coupon #coupon_left_block #discount_amout {
  font-size: 50px;
  line-height: 56px;
  position: absolute;
  top: 19px;
  left: 27px;
  color: #515151;
}

#member_data_page #coupon_block #coupon_area #coupon #coupon_left_block #A_cake_text_logo {
  width: 60px;
  height: 22px;
  position: absolute;
  top: 33px;
  right: 34px;
  overflow: hidden;
}

#member_data_page #coupon_block #coupon_area #coupon #coupon_left_block #A_cake_text_logo > img {
  width: 100%;
}

#member_data_page #coupon_block #coupon_area #coupon #coupon_left_block #A_cake_text_logo > span {
  font-size: 5px;
  line-height: 4px;
  color: #515151;
}

#member_data_page #coupon_block #coupon_area #coupon #coupon_left_block #coupon_left_decoration_img {
  position: absolute;
  left: 27px;
  bottom: 20px;
}

#member_data_page #coupon_block #coupon_area #coupon #coupon_left_block #use_threshold {
  font-size: 16px;
  color: #515151;
  position: absolute;
  bottom: 30px;
  right: 34px;
}

#member_data_page #coupon_block #coupon_area #coupon #coupon_left_block #bottom_decoration_img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(180deg);
}

#member_data_page #coupon_block #coupon_area #coupon #coupon_left_block > svg {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(180deg);
}

#member_data_page #coupon_block #coupon_area #coupon #coupon_right_block {
  background-color: #F7EDD4;
  position: relative;
  width: 120px;
  height: 150px;
  border-bottom-right-radius: 5px;
}

#member_data_page #coupon_block #coupon_area #coupon #coupon_right_block::after {
  content: "";
  display: inline-block;
  width: 42px;
  height: 42px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(45deg, #EFDCAC 50%, #DFB9B0 50%);
  border-bottom-left-radius: 5px;
}

#member_data_page #coupon_block #coupon_area #coupon #coupon_right_block #expiration {
  width: 80px;
  height: 31px;
  position: absolute;
  top: 30px;
  left: 20px;
  display: flex;
  flex-direction: column;
}

#member_data_page #coupon_block #coupon_area #coupon #coupon_right_block #expiration > span:first-child {
  align-self: flex-start;
  font-size: 12px;
  transform: scale(0.83);
  transform-origin: center left;
  line-height: 14px;
  color: #515151;
  margin-bottom: 3px;
}

#member_data_page #coupon_block #coupon_area #coupon #coupon_right_block #expiration #expiration_date {
  align-self: flex-end;
  font-size: 12px;
  line-height: 14px;
  color: #515151;
}

#member_data_page #coupon_block #coupon_area #coupon #coupon_right_block #coupon_right_decoration_img {
  position: absolute;
  top: 65px;
  left: 10px;
  width: 39px;
  height: 39px;
  overflow: hidden;
}

#member_data_page #coupon_block #coupon_area #coupon #coupon_right_block #coupon_right_decoration_img > img {
  width: 100%;
}

#member_data_page #coupon_block #coupon_area #coupon #coupon_right_block #expiration_countdown {
  color: #E8542E;
  font-size: 12px;
  white-space: nowrap;
  transform: scale(0.6);
  transform-origin: center left;
  position: absolute;
  line-height: 10px;
  left: 28px;
  bottom: 32px;
}

#member_data_page #coupon_block #view_all_coupon {
  display: inline-block;
  width: 40px;
  height: 36px;
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 0;
  text-align: center;
  cursor: pointer;
  position: relative;
  top: -20px;
}

#member_data_page #coupon_block #view_all_coupon > i {
  display: inline-block;
  font-size: 30px;
  line-height: 3px;
}

#member_data_page #bottom_snow_img {
  display: block;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: rotate(180deg) translateX(50%);
  overflow: hidden;
}

#member_data_page #bottom_snow_img > img {
  min-width: 1200px;
}

#main-bar-img {
  height: 500px;
  background-image: url("../../img/background_img500.png");
  background-size: auto 100%;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#member_fav_page {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  font-size: 0;
}

#member_fav_page .main_bar {
  height: 500px;
  padding-top: 150px;
}

#member_fav_page .main_bar #avatar_container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0px auto 50px;
}

#member_fav_page .main_bar #member_page_nav {
  display: flex;
  justify-content: space-between;
  width: 410px;
  margin: 0 auto 110px;
}

#member_fav_page .main_bar #member_page_nav .member_page_nav_link {
  width: 82px;
  height: 92px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

#member_fav_page .main_bar #member_page_nav .member_page_nav_link > img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  cursor: pointer;
}

#member_fav_page .main_bar #member_page_nav .member_page_nav_link > span {
  width: 82px;
  height: 32px;
  background-color: #FFFFFF;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  color: #9F746B;
  cursor: pointer;
}

#member_fav_page .main_bar #member_page_nav .member_page_nav_link.-on > span {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#member_fav_page #fav_folder {
  text-align: center;
  margin-bottom: 32px;
}

#member_fav_page #fav_folder #folder_area {
  margin: 33px auto 5px;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: auto;
  grid-gap: 70px;
  width: auto;
}

@media (max-width: 1199.98px) {
  #member_fav_page #fav_folder #folder_area {
    grid-template-columns: auto auto;
    margin: 33px 25px 5px;
    grid-gap: 100px;
  }
}

@media (max-width: 767.98px) {
  #member_fav_page #fav_folder #folder_area {
    grid-template-columns: auto;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    width: 100vw;
    overflow-y: scroll;
    grid-template-areas: "first .";
  }
}

#member_fav_page #fav_folder #folder_area #folder {
  width: 290px;
  height: 330px;
  background-color: #DFB9B0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  position: relative;
  border-radius: 5px;
}

#member_fav_page #fav_folder #folder_area #folder::before {
  content: "";
  width: 110px;
  height: 40px;
  display: inline-block;
  background-color: #EFE6E4;
  position: absolute;
  top: 0;
  right: 0;
}

#member_fav_page #fav_folder #folder_area #folder::after {
  content: "";
  display: inline-block;
  width: 290px;
  height: 290px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

#member_fav_page #fav_folder #folder_area #folder #folder_title_tag {
  padding-left: 7px;
  padding-top: 7px;
  text-align: left;
  position: relative;
}

#member_fav_page #fav_folder #folder_area #folder #folder_title_tag #folder_title {
  font-size: 20px;
  line-height: 27px;
}

#member_fav_page #fav_folder #folder_area #folder #folder_title_tag #delete_folder {
  background-color: transparent;
  width: 20px;
  height: 20px;
  padding: 0;
  font-size: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 120px;
}

#member_fav_page #fav_folder #folder_area #folder #folder_title_tag #delete_folder > i {
  font-size: 30px;
  line-height: 20px;
}

#member_fav_page #fav_folder #folder_area #folder #folder_img_outline {
  width: 240px;
  height: 240px;
  margin: 0 auto;
  cursor: pointer;
  overflow: hidden;
}

#member_fav_page #fav_folder #folder_area #folder #folder_img_outline > img {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#member_fav_page #fav_folder #folder_area #folder_last {
  width: 290px;
  height: 330px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767.98px) {
  #member_fav_page #fav_folder #folder_area #folder_last {
    grid-area: first;
  }
}

#member_fav_page #fav_folder #folder_area #folder_last #add_folder {
  width: 100px;
  height: 100px;
  background-color: #DFB9B0;
  border: 0;
  outline: 0;
  border-radius: 10px;
  cursor: pointer;
}

#member_fav_page #fav_folder #folder_area #folder_last #add_folder > i {
  color: #EFE6E4;
  font-size: 85px;
}

#member_fav_page #bottom_snow_img {
  display: block;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: rotate(180deg) translateX(50%);
  overflow: hidden;
}

#member_fav_page #bottom_snow_img > img {
  min-width: 1200px;
}

#main-bar-img {
  height: 500px;
  background-image: url("../../img/background_img500.png");
  background-size: auto 100%;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#member_fav_detail_page {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  font-size: 0;
}

#member_fav_detail_page .main_bar {
  height: 500px;
  padding-top: 150px;
}

#member_fav_detail_page .main_bar #avatar_container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0px auto 50px;
}

#member_fav_detail_page .main_bar #member_page_nav {
  display: flex;
  justify-content: space-between;
  width: 410px;
  margin: 0 auto 110px;
}

#member_fav_detail_page .main_bar #member_page_nav .member_page_nav_link {
  width: 82px;
  height: 92px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

#member_fav_detail_page .main_bar #member_page_nav .member_page_nav_link > img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  cursor: pointer;
}

#member_fav_detail_page .main_bar #member_page_nav .member_page_nav_link > span {
  width: 82px;
  height: 32px;
  background-color: #FFFFFF;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  color: #9F746B;
  cursor: pointer;
}

#member_fav_detail_page .main_bar #member_page_nav .member_page_nav_link.-on > span {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#member_fav_detail_page #fav_folder {
  text-align: center;
  margin-bottom: 32px;
}

#member_fav_detail_page #fav_folder #fav_area {
  margin: 33px 25px 5px;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: auto;
  grid-gap: 70px 50px;
  width: auto;
}

@media (max-width: 1199.98px) {
  #member_fav_detail_page #fav_folder #fav_area {
    grid-template-columns: auto auto;
    margin: 33px 19px 5px;
    grid-gap: 42px 30px;
  }
}

@media (max-width: 767.98px) {
  #member_fav_detail_page #fav_folder #fav_area {
    grid-template-columns: auto;
    grid-auto-rows: auto;
    grid-auto-flow: row;
    grid-column-gap: 65px;
    margin: 33px 10px 5px;
  }
}

#member_fav_detail_page #fav_folder #fav_area .card_outline {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

#member_fav_detail_page #fav_folder #fav_area .card_outline .description_block .cake_title {
  margin: 15px 0;
  text-align: left;
  font-size: 20px;
  line-height: 20px;
  color: #515151;
  font-weight: 400;
}

#member_fav_detail_page #fav_folder #fav_area .card_outline .description_block .design_idea {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
  line-height: 16px;
  color: #515151;
}

#member_fav_detail_page #fav_folder #fav_area .card_outline .description_block .interact_area {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#member_fav_detail_page #fav_folder #fav_area .card_outline .description_block .interact_area .go_shopping {
  margin-top: 15px;
  width: 180px;
  height: 60px;
  border-radius: 100px;
  border: 0;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  position: relative;
  color: #515151;
  cursor: pointer;
  background-color: #EFE6E4;
}

#member_fav_detail_page #fav_folder #fav_area .card_outline .description_block .interact_area .go_shopping:hover {
  background-color: #F4E9C9;
}

#member_fav_detail_page #fav_folder #fav_area .card_outline .description_block .interact_area .delete {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 3px;
}

#member_fav_detail_page #fav_folder #fav_area .card_outline .description_block .interact_area .delete > i {
  font-size: 30px;
  color: #515151;
}

#member_fav_detail_page #bottom_snow_img {
  display: block;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: rotate(180deg) translateX(50%);
  overflow: hidden;
}

#member_fav_detail_page #bottom_snow_img > img {
  min-width: 1200px;
}

#main-bar-img {
  height: 500px;
  background-image: url("../../img/background_img500.png");
  background-size: auto 100%;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#member_order_page {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  font-size: 0;
}

#member_order_page .main_bar {
  height: 500px;
  padding-top: 150px;
}

#member_order_page .main_bar #avatar_container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0px auto 50px;
}

#member_order_page .main_bar #member_page_nav {
  display: flex;
  justify-content: space-between;
  width: 410px;
  margin: 0 auto 110px;
}

#member_order_page .main_bar #member_page_nav .member_page_nav_link {
  width: 82px;
  height: 92px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

#member_order_page .main_bar #member_page_nav .member_page_nav_link > img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  cursor: pointer;
}

#member_order_page .main_bar #member_page_nav .member_page_nav_link > span {
  width: 82px;
  height: 32px;
  background-color: #FFFFFF;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  color: #9F746B;
  cursor: pointer;
}

#member_order_page .main_bar #member_page_nav .member_page_nav_link.-on > span {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#member_order_page #title_h1_block {
  text-align: center;
}

#member_order_page #switch_tab_block {
  height: 50px;
  margin: 40px auto 55px;
}

#member_order_page #filter_block {
  margin: 0 40px 70px;
}

#member_order_page #filter_block > form {
  display: flex;
  justify-content: space-between;
}

#member_order_page #filter_block > form #select_block {
  display: inline-flex;
  justify-content: space-between;
  padding-top: 5px;
}

#member_order_page #filter_block > form #select_block .choose_date {
  width: 260px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  vertical-align: top;
}

#member_order_page #filter_block > form #select_block .choose_date:nth-child(1) {
  margin-right: 40px;
}

#member_order_page #filter_block > form #select_block input.search {
  display: inline-block;
  vertical-align: top;
}

#member_order_page #order_block {
  display: flex;
  flex-direction: column;
  width: 93%;
  margin: 0 auto;
}

#member_order_page #order_block .order {
  margin-bottom: 50px;
}

#member_order_page #order_block .order .order_title {
  background-color: #DFB9B0;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#member_order_page #order_block .order .order_title .title_main {
  align-self: center;
  display: flex;
  position: relative;
}

#member_order_page #order_block .order .order_title .title_main .order_number {
  font-size: 28px;
  color: #515151;
  margin-left: 40px;
}

#member_order_page #order_block .order .order_title .title_main .order_status {
  font-size: 28px;
  color: #515151;
  margin-left: 40px;
}

#member_order_page #order_block .order .order_title .title_main .order_date {
  font-size: 12px;
  color: #848484;
  position: absolute;
  line-height: 16px;
  left: 40px;
  bottom: -17px;
}

#member_order_page #order_block .order .order_title .unfold_order {
  width: 40px;
  height: 40px;
  border: 0;
  outline: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  align-self: center;
  margin-right: 50px;
}

#member_order_page #order_block .order .order_title .unfold_order > i {
  font-size: 40px;
  line-height: 38px;
}

#member_order_page #order_block .order .order_detail {
  background-color: #F7F2F1;
  display: flex;
  flex-direction: column;
}

#member_order_page #order_block .order .order_detail .order_item {
  margin: 50px 45px 0;
  display: flex;
  flex-wrap: nowrap;
}

#member_order_page #order_block .order .order_detail .order_item .product_image {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-right: 45px;
  flex-shrink: 0;
}

#member_order_page #order_block .order .order_detail .order_item .product_image > img {
  width: 100%;
  height: 100%;
}

#member_order_page #order_block .order .order_detail .order_item .product_description_block {
  font-size: 16px;
  color: #979797;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 100px;
}

#member_order_page #order_block .order .order_detail .order_item .item_number {
  font-size: 16px;
  color: #979797;
  align-self: center;
  width: 135px;
  text-align: right;
  flex-shrink: 0;
}

#member_order_page #order_block .order .order_detail .order_item .item_total {
  font-size: 16px;
  color: #979797;
  align-self: center;
  width: 135px;
  text-align: right;
  flex-shrink: 0;
}

#member_order_page #order_block .order .order_detail .information_block {
  margin: 50px 45px 0;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  color: #515151;
}

#member_order_page #order_block .order .order_detail .information_block .information_left .payment_method {
  line-height: 37px;
  margin-bottom: 15px;
}

#member_order_page #order_block .order .order_detail .information_block .information_left .pickup_store {
  line-height: 37px;
  margin-bottom: 15px;
}

#member_order_page #order_block .order .order_detail .information_block .information_right .deliver_fee {
  line-height: 37px;
  margin-bottom: 15px;
}

#member_order_page #order_block .order .order_detail .information_block .information_right .discount {
  line-height: 37px;
  margin-bottom: 15px;
}

#member_order_page #order_block .order .order_detail .information_block .information_right .order_total {
  line-height: 37px;
  margin-bottom: 27px;
}

#bottom_snow_img {
  display: block;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: rotate(180deg) translateX(50%);
  overflow: hidden;
}

#bottom_snow_img > img {
  min-width: 1200px;
}
/*# sourceMappingURL=style.css.map */