@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");
* {
  box-sizing: border-box;
}

.button_h1 {
  width: 250px;
  height: 75px;
  border-radius: 5px;
  background-color: #dfb9b0;
  color: #515151;
  font-size: 24px;
  border: none;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.button_h1 img {
  width: 30px;
  height: 30px;
  position: relative;
  transform: translateY(5px);
}

.button_h1 > span {
  display: block;
  font-size: 14px;
}

.button_h1:hover {
  background-color: #f4e9c9;
  cursor: pointer;
  transform: translateY(-5px);
}

.card_outline {
  box-sizing: border-box;
  background-color: #DFB9B0;
  width: 350px;
  height: 480px;
  padding: 25px;
  border-radius: 7px;
}

.card_outline .img_container {
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.card_outline .img_container img {
  height: 100%;
  width: 100%;
}

.card_outline .down_block .cake_title {
  margin: 15px 0;
  text-align: left;
  font-size: 20px;
  line-height: 20px;
  color: #515151;
  font-weight: 400;
}

.card_outline .down_block .design_idea {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
  line-height: 16px;
  color: #515151;
}

.card_outline .down_block .voting_area {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card_outline .down_block .voting_area .voting_num {
  margin-top: 35px;
}

.card_outline .down_block .voting_area .voting_num .num {
  font-size: 20px;
  vertical-align: top;
  line-height: 25px;
  color: #515151;
}

.card_outline .down_block .voting_area .voting {
  margin-top: 15px;
  width: 180px;
  height: 60px;
  border-radius: 100px;
  border: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  position: relative;
  color: #515151;
  cursor: pointer;
  background-color: #EFE6E4;
}

.card_outline .down_block .voting_area .voting:hover {
  background-color: #F4E9C9;
}

.card_outline .down_block .voting_area .voting:active span {
  background-image: url(../../img/favorites_icon_h_1.svg);
}

.card_outline .down_block .voting_area .voting span {
  position: absolute;
  right: 15px;
  top: 30px;
  transform: translateY(-50%);
}

.card_outline .down_block .voting_area .voting_num .heart_icon, .card_outline .down_block .voting_area .voting span {
  background-image: url(../../img/favorites_icon_1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: inline-block;
  height: 22px;
  width: 22px;
}

* {
  box-sizing: border-box;
}

.sale_card_outline {
  font-family: "Noto Sans TC", sans-serif;
  background-color: #dfb9b0;
  display: inline-block;
  width: 350px;
  height: 450px;
  border-radius: 5px;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
}

.sale_card_outline .sale_card_img {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin-left: 25px;
  margin-top: 25px;
}

.sale_card_outline .sale_card_img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sale_card_outline .sale_card_description {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.sale_card_outline .sale_card_description .favorite {
  width: 180px;
  height: 60px;
  border-radius: 40px;
  font-size: 20px;
  background-color: #efe6e4;
  border: none;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
}

.sale_card_outline .sale_card_description .favorite span {
  display: inline-block;
  position: relative;
  transform: translateY(-2px);
}

.sale_card_outline .sale_card_description .favorite img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  transform: translateY(5px);
  margin-left: 5px;
}

.sale_card_outline .sale_card_description .favorite:hover {
  cursor: pointer;
  background-color: #f4e9c9;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3), 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
}

.sale_card_outline .sale_card_description p {
  font-size: 24px;
  margin: 0;
}

.sale_card_outline .sale_card_description .p_outline {
  margin-right: 5px;
}

.sale_card_outline .sale_card_description .p_outline p.title {
  margin-top: 25px;
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
}

input.search {
  width: 400px;
  max-width: 100%;
  height: 50px;
  border-radius: 100px;
  border: none;
  padding: 0 30px;
  opacity: 70%;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
  font-size: 20px;
  cursor: text;
}

input.search:focus {
  border: none;
}

* {
  box-sizing: border-box;
}

.title_h1 {
  display: inline-block;
  position: relative;
}

.title_h1 h1 {
  display: inline-block;
  font-size: 36px;
  color: #515151;
}

.title_h1 span {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: #dfb9b0;
}

.title_h1 img {
  width: 58px;
  height: 58px;
  vertical-align: middle;
  position: relative;
  transform: translateY(-10px);
}

* {
  box-sizing: border-box;
}

.watchmore {
  width: 180px;
  height: 60px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 24px;
  background: #515151;
  color: white;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
}

.watchmore:hover {
  color: #515151;
  background: white;
}

.page_select {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.page_select li {
  margin: 0 8px;
}

.page_select li a {
  font-size: 14px;
  border: 1px solid red;
  text-decoration: none;
  color: #515151;
  background-color: white;
  padding: 10px 12px;
  border-radius: 50%;
}

.page_select li a:hover {
  background-color: black;
  color: white;
}

#select_ingredients {
  background-color: #F7EDD4;
  border-radius: 5px;
  padding: 40px 60px;
  position: relative;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

#select_ingredients #choose_label {
  width: 800px;
}

#select_ingredients #choose_label label {
  margin: 5px;
  padding: 5px 15px;
  background: burlywood;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
  line-height: 36px;
}

#select_ingredients .select {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 120px));
}

#select_ingredients .select input {
  margin: 10px 5px;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: inset -1px -1px 3px rgba(0, 0, 0, 0.8);
  position: relative;
}

#select_ingredients .select span {
  width: 120px;
  font-size: 18px;
}

#select_ingredients .select span:last-child {
  margin-bottom: 35px;
}

#select_ingredients .select span:first-child {
  position: relative;
  top: 4px;
  width: 80px;
}

#select_ingredients button {
  position: absolute;
  right: 60px;
  bottom: 40px;
  width: 100px;
  height: 30px;
  background-color: #515151;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

header {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  border: 1px solid red;
  /*品涵這邊是留給你你隨意改*/
}

body {
  background-color: #EFE6E4;
}

.assign_page_title_h1_outline {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  border: 1px solid blue;
}

.assign_page_title_h1_outline > div {
  flex: 1;
  margin-top: 70px;
  margin-left: 40px;
  margin-bottom: 100px;
}

.assign_page_title_h1_outline > div span {
  display: none;
}

#assign_page_main {
  width: 1200px;
  border: 1px solid black;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#assign_page_main section {
  border: 1px solid red;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  color: #515151;
}

#assign_page_main section label {
  font-size: 20px;
  margin-bottom: 5px;
}

#assign_page_main section input {
  font-size: 20px;
  margin-bottom: 10px;
  width: 460px;
  height: 45px;
  border-radius: 5px;
}

#assign_page_main button {
  width: 460px;
  height: 55px;
  border-radius: 5px;
  background-color: #F7EDD4;
  margin-top: 20px;
  font-size: 20px;
  color: #515151;
}

#assign_page_main button:hover {
  cursor: pointer;
  background-color: #DFB9B0;
}

#assign_page_main #sign_in a {
  margin-top: -10px;
  font-size: 14px;
  text-decoration: none;
  color: #515151;
}

#assign_page_main #sign_in a:hover {
  color: blue;
}

#assign_page_main #sign_in button:nth-child(6) {
  margin-top: 33px;
}

#assign_page_main #register select {
  width: 140px;
  height: 45px;
  margin-right: 16px;
  border-radius: 5px;
}

#vote_page_main_bar {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#vote_page_main_bar > div {
  margin-top: 100px;
}

#vote_page_main_bar p {
  text-align: center;
  margin-top: 35px;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 100px;
}

#vote_page_main_bar p span {
  display: block;
}

#vote_page_main {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  border: 1px solid red;
}

#vote_page_main .search {
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  margin-bottom: 50px;
}

.vote_title {
  margin-top: 100px;
  margin-left: 150px;
  margin-bottom: 65px;
}

#topthree {
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

#topthree div.vote_topthree {
  margin: 0 auto;
  display: inline-block;
  position: relative;
  background-color: #F7EDD4;
  color: #515151;
}

#topthree div.vote_topthree .topthree_hat {
  position: absolute;
  width: 110px;
  height: 110px;
  border: 1px solid red;
  left: -20px;
  top: -50px;
  transform: rotate(-15deg);
}

#topthree div.vote_topthree .pic_cake {
  height: 260px;
}

#topthree div.vote_topthree > div {
  padding: 10px;
}

#topthree div.vote_topthree > div h1 {
  margin: 0;
}

#topthree div.vote_topthree > div p {
  margin: 0;
}

section#vote {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 70px 35px;
  justify-content: space-between;
  margin-bottom: 80px;
}

section#vote .card_outline {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

section#vote .card_outline .img_container {
  width: 100%;
  height: auto;
}

#product_page_main_bar {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#product_page_main_bar .search {
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  margin-bottom: 50px;
}

#product_page_main_bar > div {
  margin-top: 100px;
}

#product_page_main {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

#product_page_main .title_h1 {
  left: 50%;
  transform: translateX(-100%);
  margin-top: 100px;
  margin-left: 150px;
  margin-bottom: 65px;
}

section#product_items {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 70px 35px;
  justify-content: space-between;
  margin-bottom: 80px;
}

section#product_items .card_outline {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

section#product_items .card_outline .img_container {
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=style.css.map */