<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/style.css">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        />
        <title>商城</title>
    </head>
    <body>
        <!-- <header></header> -->
        <!--  還沒寫  -->
        <div class="product_page_main_bar">
            <div class="change_page">
                <div class="chef_cake">主廚推薦</div>         
                <div class="designer_cake">創意點子</div>         
            </div>
            <!-- <div id="search_bar"> -->
            <!-- 頁面選擇器 -->
            <div class="searchbar_titlebar">

                <input type="text" placeholder="搜尋..." class="search_baron"/>
            </div>
            <!-- </div> -->
            <div id="select_test"></div>
        </div>
        <main class="product_page_main">
            <div class="title_h1">
                <span></span>
                <img src="../../img/eggBeater.png" alt="" />
                <h1>熱門蛋糕</h1>
                <img src="../../img/eggBeater.png" alt="" />
            </div>
            </section>
            <section id="product_items"></section>
            <!-- <ul class="page_select">
                <li class="page_back"><a href="#"><i class="fa-solid fa-angles-left"></i></a></li>
                <li class="page_back"><a href="#"><i class="fa-solid fa-angle-left"></i></a></li>
                <li class="page_back"><a href="#"><i class="fa-solid fa-1"></i></a></li>
                <li class="page_back"><a href="#"><i class="fa-solid fa-2"></i></a></li>
                <li class="page_back"><a href="#"><i class="fa-solid fa-3"></i></a></li>
                <li class="page_back"><a href="#"><i class="fa-solid fa-4"></i></a></li>
                <li class="page_back"><a href="#"><i class="fa-solid fa-5"></i></a></li>
                <li class="page_back"><a href="#"><i class="fa-solid fa-angle-right"></i></a></li>
                <li class="page_back"><a href="#"><i class="fa-solid fa-angles-right"></i></a></li>
            </ul> -->
            <!-- <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav> -->
        </main>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script>
            new Vue({
                el: "#select_test",
                data: {
                    choose_total: [],
                    total_cakebodys: [
                        "原味鮮奶油",
                        "巧克力奶油",
                        "水果鮮奶油",
                        "綜合口味",
                        "其他糕體",
                    ],
                    total_ingredients: [
                        "草莓",
                        "藍莓",
                        "櫻桃",
                        "橘子",
                        "檸檬",
                        "奇異果",
                        "其他水果",
                    ],
                    total_decorations: [
                        "圓形立牌",
                        "生日立牌",
                        "奶油",
                        "葉子",
                        "迷迭香",
                        "薄荷",
                        "其他裝飾",
                    ],
                },
                template: 
                    `
                        <div id="select_ingredients">
                            <div id="select_outline">
                            <div class="select">
                                <span>糕體：</span>
                                <span v-for="cakebody in total_cakebodys"><input type="checkbox" v-model="choose_total" :value="cakebody" :id="cakebody">{{cakebody}}</span>
                                
                            </div>
                            <div class="select">
                                <span>水果：</span>
                                <span v-for="ingredient in total_ingredients"><input type="checkbox" v-model="choose_total" :value="ingredient" :id="ingredient">{{ingredient}}</span>

                            </div>
                            <div class="select">
                                <span>裝飾：</span>
                                <span v-for="decoration in total_decorations"><input type="checkbox" v-model="choose_total" :value="decoration" :id="decoration">{{decoration}}</span>
                            </div>
                            </div>
                            <br>
                            <div id="choose_label">
                            <label v-for="choose in choose_total" :for="choose">{{choose}}<i class="fa-solid fa-xmark"></i></label>
                            </div>
                            <button class="clearall">清空選項</button>
                        </div>
                    `,
                });
            new Vue({
                el: "#product_items",
                data: {
                    cake_names:[1,2,3,4,5,6,7,8,9,10,11,12],
                },
                template: `
                <section id="product_cakecard">
                    <div class="product_card_outline"  v-for="cakes in cake_names">
                        <div class="product_img_container">
                            <img class="product_img_container_img" src="../../img/cho_cake.jpeg" />
                        </div>
                        <div class="product_introduce">
                            <div class="product_detail">
                                <div class="product_cake_title" >巧克力蛋糕</div>
                                <span class="price">NT$800</span>
                            </div>
                            <button class="like_button">
                                加入我的最愛
                                <img src="../../img/favorites_icon.png"></img>
                            </button>
                        </div>
                    </div>
                </section>
                `,
            });
        </script>
    </body>
</html>
