#not_pollute_pages{  // 開發時避免樣式污染到pages，套用時避開這層

.card_outline{
    box-shadow: $shadow;
    position: relative;
    padding: 28px 28px 15px 28px;
    width: 408px;
    height: 785px;

    // 開發查看用，組件組合時拿掉
    margin-top: 50px;

    .close_button{
        width: 30px;
        height: 30px;
        background-color: #FFFFFF;
        border: 0;
        outline: none;
        position: absolute;
        right: 0;
        top: -46px;
        border-radius: 50%;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);

        > i{
            font-size: 22px;
            color: $darkGrey;
        }

    }

    .img_container{
        overflow: hidden;
        width: 350px;
        height: 350px;
        margin: 0 auto;

        img{
            height: 100%;
            width: 100%;
        }

    }

    .description_block{

        .cake_title{
            margin: 15px 0;
            text-align: left;
            font-size: 21px;
            line-height: 28px;
            color: #515151;
            font-weight: 400;
        }

        .design_idea{
            margin: 0;
            width: 285px;
            height: 85px;
            overflow-y: scroll;
            font-size: 12px;
            color: $darkGrey;
        }

        .status_area{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 33px auto 16px;

            .verify{
                color: #5A9308;
                font-size: 0px;

                .status_ball{
                    vertical-align: middle;
                    font-size: $p;
                    margin-right: 3px;
                }

                .status_text{
                    font-size: 12px;
                    vertical-align: middle;
                }

            }

            .edit_content{
                width: 85px;
                height: 35px;
                border-radius: 3px;
                border: 0;
                box-shadow: $shadow;
                font-size: $p;
                color: #515151;
                cursor: pointer;
                background-color: #F7EDD4;
                // &:hover{
                    
                // }
                // &:active{
                   
                // }
                
            }

        }

        .division_line{
            border-top: 1px solid #707070;
        }

        .gredient_block{

            > h4{
                margin: 15px 0;
                text-align: left;
                font-size: 21px;
                line-height: 28px;
                color: #515151;
                font-weight: 400;
            }
    
            .gredient_content{
                margin: 0;
                width: 285px;
                height: 32px;   // 感覺不太夠
                margin-bottom: 25px;
                overflow-y: scroll;
                font-size: 12px;
                color: $darkGrey;
            }

        }

        .buying_block{
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .go_buying{
                width: 150px;
                height: 50px;
                border-radius: 100px;
                border: 0;
                box-shadow: $shadow;
                font-size: $p;
                position: relative;
                color: #515151;
                cursor: pointer;
                background-color: $lightPike;
                &:hover{
                    background-color: #F4E9C9;
                }
                
                > img{
                    width: 16.5px;
                    height: 16.5px;
                    position: absolute;
                    right: 15px;
                    top: 17px;
                }
            }

        }

    }

}

} // 開發時避免樣式污染到pages，套用時避開這層

//
// 樣式問題
// 1. 編輯內文edit_content按鈕需要有hover或active樣式嗎
// 2. 內文部份要不要寬度切齊其他元素
// 3. 配料的內文高度感覺不太夠