@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');
.page_select{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    li{
        margin:0 8px;
        a{
            font-size: 14px;
            border:1px solid red;
            text-decoration: none;
            color:#515151;
            background-color: white;
            padding:10px 12px;
            border-radius: 50%;
            &:hover{
                background-color: black;
                color:white;
            }
        }
    }
}