#select_ingredients{
    background-color: #F7EDD4;
    border-radius: 5px;
    padding:40px 60px;
    position: relative;
    width:100%;
    max-width: 1120px;
    margin:0 auto;
    #choose_label{
        width:800px;
        label{
            margin:5px;
            padding:5px 15px;
            background: burlywood;
            border-radius: 10px;
            cursor: pointer;
            white-space: nowrap;
            line-height: 36px;
        }
    }
    .select{
        display:grid;
        grid-template-columns: repeat(auto-fill,minmax(100px,120px));
        input{
            margin:10px 5px;
            cursor: pointer;
            border:none;
            outline: none;
            box-shadow: inset -1px -1px 3px  rgba(0,0,0,.8);
            position:relative;
        }
        span{
            width:120px;
            font-size: 18px;
            &:last-child{
                margin-bottom:35px;
            }
            &:first-child{
                position: relative;
            top:4px;
            width:80px;
            }
        }
    }
    button{
        position: absolute;
        right:60px;
        bottom:40px;
        width:100px;
        height:30px;
        background-color: #515151;
        color:white;
        border-radius: 5px;
        cursor: pointer;
    }
    
}