<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入font-awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <title>card_design_detail</title>
</head>
<body>
<div id="not_pollute_pages"><!-- 開發時避免樣式污染到pages，套用時避開這層 -->


    <div class="card_outline">
        <button class="close_button">
            <i class="fas fa-times"></i>
        </button>
        <div class="img_container">
            <img src="../../img/cho_cake.jpeg">
        </div>
        <div class="description_block">
            <h4 class="cake_title">無敵大蛋糕</h4>
            <p class="design_idea">內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文</p>
            <div class="status_area">
                <div class="verify">
                    <i class="fas fa-circle status_ball"></i>
                    <span class="status_text">人氣投票審核通過</span>
                </div>
                <button class="edit_content">
                    編輯內文
                </button>
            </div>
            <div class="division_line"></div>
            <div class="gredient_block">
                <h4>使用配料</h4>
                <div class="gredient_content">
                        內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文
                </div>
            </div>
            <div class="buying_block">
                <button class="go_buying">
                    再次購買
                    <img src="../../img/shoppingCar.svg">
                </button>
            </div>
        </div>
    </div>

</div><!-- 開發時避免樣式污染到pages，套用時避開這層 -->

</body>
</html>