<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/card_voting.css">
    <title>Document</title>
</head>
<body>
    <div class="card_outline">
        <div class="img_container">
            <img src="../../img/cho_cake.jpeg">
        </div>
        <div class="down_block">
            <h4 class="cake_title">無敵大蛋糕</h4>
            <p class="design_idea">好吃的蛋糕好吃的蛋糕好吃的蛋糕好吃的蛋糕好吃的蛋糕好吃的蛋糕好吃的蛋糕好吃的蛋糕好吃的蛋糕好吃的蛋糕好吃的蛋糕好吃的蛋糕好吃的蛋糕好吃的蛋糕好吃的蛋糕好吃的</p>
            <div class="voting_area">
                <div class="voting_num">
                    <span class="heart_icon"></span>
                    <span class="num">310</span>
                </div>
                <button class="voting">
                    投票
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</body>
</html>