<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/card_voting.css">
    <title>Document</title>
</head>
<body>
    <div id="coupon">
        <div id="coupon_left_block">
            <div id="discount_amout">$<span>150</span></div>
            <div id="A_cake_text_logo">
                <img src="http://via.placeholder.com/60x22" alt="">
            </div>
            <div id="coupon_left_decoration_img">
                <img src="http://via.placeholder.com/40x0" alt="">
            </div>
            <div id="use_threshold">消費滿<span>1000</span>即可折抵</div>
            <img id="bottom_decoration_img" src="./img/snowRWD.svg">
        </div>
        <div id="coupon_right_block">
            <div id="expiration">
                <span>使用期限</span>
                <span id="expiration_date">2021/10/31</span>
            </div>
            <div id="coupon_right_decoration_img">
                <img src="http://via.placeholder.com/39x39" alt="">
            </div>
            <div id="expiration_countdown">
                即將失效：剩下<span>10</span>天
            </div>
        </div>
    </div>
</body>
</html>