<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>

    <!-- favion -->
    <link rel="shortcut icon" href="../../img/logo_img.ico"/>

    <!-- google font文字 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,700&display=swap" rel="stylesheet">


</head>
<body>
    
    <footer id="footer">
        <div class="footer_icon">
            <a href=""><img src="../../img/fb_icon.svg" alt=""></a>
            <a href=""><img src="../../img/ig_icon.svg" alt=""></a>
            <a href=""><img src="../../img/love_icon.svg" alt=""></a>
        </div>
        <div class="footer_text_box">
            <div class="footer_text">
                <p>星期一至五 / 服務時間：9:00-20:00<br>星期六至日 / 服務時間：12:00-20:00</p>
                <p>電話：02-25570779 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<br>email：acake@gmail.com.tw &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
                <p>有任何問題可使用官網留言<br>來電詢問/FB/IG 粉專私訊留言 :)</p>
            </div>

            <div class="footer_text_two">
                <p class="one">© A cake All Rights Reserved.</p>
                <p class="two">本網站為緯育TibaMe前端設計工程師班第70期學員專題作品，本平台僅供學習、展示之用。若有侵權疑慮，您可以私訊 [TibaMe-前端設計工程師養成班]，後續會由專人協助處理。</p>
            </div>
        </div>
    </footer>

</body>
</html>