<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>

    <!-- favion -->
    <link rel="shortcut icon" href="../../img/logo_img.ico"/>

    <!-- google font文字 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,700&display=swap" rel="stylesheet">

    <!-- jQ -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    
    <header id="header">
        <a href="" id="logo">
            <img src="../../img/logo.png">
        </a>
        <ul class="header_nav">
            <div id="header_div_one">
                <!-- RWD漢堡選單 才會出現的背景圖 -->
                <img id="hamburger_img" src="../../img/snowRWD.svg" alt="">
                <!-- RWD漢堡選單 才會出現的背景圖 -->
                <li class="nav_item"><a href="">蛋糕設計</a></li>
                <li class="nav_item"><a href="">人氣票選</a></li>
                <li class="nav_item"><a href="">商城</a></li>
                <li class="nav_item"><a href="">Q&A</a></li>
            </div>

            <div id="header_div_two">
                <li class="nav_icon"><a href=""><img src="../../img/member.svg" alt=""></a></li>
                <li class="nav_icon"><a href=""><img src="../../img/shoppingCar.svg" alt=""></a></li>
            </div>
        </ul>
        
        <div id="header_div_two_two">
            <li class="nav_icon"><a href=""><img src="../../img/member.svg" alt=""></a></li>
            <li class="nav_icon"><a href=""><img src="../../img/shoppingCar.svg" alt=""></a></li>
        </div>
        <!-- RWD漢堡選單 -->
        <a class="hamburger" href="">
            <span class="hamburger_icon"></span>
            <span class="hamburger_icon"></span>
            <span class="hamburger_icon"></span>
        </a>
    </header>

</body>
</html>