<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul class="page_select">
        <li><a href="#"><i class="fa-solid fa-angles-left"></i></a></li>
        <li><a href="#"><i class="fa-solid fa-angle-left"></i></a></li>
        <li><a href="#"><i class="fa-solid fa-1"></i></a></li>
        <li><a href="#"><i class="fa-solid fa-2"></i></a></li>
        <li><a href="#"><i class="fa-solid fa-3"></i></a></li>
        <li><a href="#"><i class="fa-solid fa-4"></i></a></li>
        <li><a href="#"><i class="fa-solid fa-5"></i></a></li>
        <li><a href="#"><i class="fa-solid fa-angle-right"></i></a></li>
        <li><a href="#"><i class="fa-solid fa-angles-right"></i></a></li>
    </ul>
</body>
</html>