<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/sale_card.css">
    <title>Document</title>
</head>
<body>
    <div class="sale_card_outline">
        <div class="sale_card_img">
            <img src="../../img/cho_cake.jpeg" alt="" />
        </div>
        <div class="sale_card_description">
            <div class="p_outline">
                <p class="title">XXXX蛋糕</p>
                <p class="price">NT $500</p>
            </div>
            <button class="favorite"><span>加入我的最愛<img src="../../img/favorites_icon_1.svg" alt=""></span></button>
        </div>
    </div>
</body>
</html>