$shadow:4px 4px 5px 0 rgba(0, 0, 0, 0.3);
$darkGrey : #515151;
$palePike : #DFB9B0;
$lightPike : #EFE6E4;
$lightYellow : #F4E9C9;
$h1 : 36px;
$h2 : 28px;
$h3 : 24px;
$h4 : 20px;
$p : 16px;
// @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');
@font-face {
    font-family: 'EB Garamond';
    src: url('/src/assets/style/EBG.ttf')format('truetype');
};
*{
    font-family: 'EB Garamond', Sans-serif;
}
