#member_fav_page{
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    font-size: 0;

    .main_bar{
        border: 1px solid red;
        
        #avatar_container{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            margin: 70px auto 50px;
        }
        #member_page_nav{
            // border: 1px solid blue;

            display: flex;
            justify-content: space-between;
            width: 410px;
            margin: 0 auto 110px;

            .member_page_nav_link{
                // border: 1px solid green;

                width: 82px;
                height: 92px;
                display: inline-flex;
                flex-direction: column;
                align-items: center;

                > img{
                    width: 50px;
                    height: 50px;
                    margin-bottom: 10px;
                    cursor: pointer;
                }

                > span{
                    width: 82px;
                    height: 32px;
                    background-color: #FFFFFF;
                    border-radius: 15px;
                    text-align: center;
                    font-size: 16px;
                    line-height: 32px;
                    color: #9F746B;
                    cursor: pointer;
                }
            }
            .member_page_nav_link.-on{
                > span{
                    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }

    #fav_folder{
        text-align: center;
        margin-bottom: 32px;

        #folder_area{
            margin: 33px 40px 5px;
            display: inline-grid;
            grid-template-columns: auto auto auto;
            grid-auto-rows: auto;
            grid-gap: 65px;
            width: auto;
            
            @media (max-width: 1199.98px){
                grid-template-columns: auto auto;
                margin: 33px 25px 5px;
                grid-gap: 55px;
            }

            @media (max-width: 767.98px){
                grid-template-columns: auto;
                grid-auto-columns: auto;
                grid-auto-flow: column;
                width: 100vw;
                overflow-y: scroll;
                grid-template-areas: "first .";
            }

            #folder{
                width: 330px;
                height: 330px;
                background-color: $palePike;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-bottom: 20px;
                position: relative;
                &::before{
                    content: "";
                    width: 110px;
                    height: 40px;
                    display: inline-block;
                    background-color: #EFE6E4;
                    position: absolute;
                    top: 0;
                    right: 0;
                }

                #folder_title_tag{
                    padding-left: 7px;
                    padding-top: 7px;
                    text-align: left;
                    position: relative;

                    #folder_title{
                        font-size: 20px;
                        line-height: 27px;
                    }

                    #delete_folder{
                        background-color: transparent;
                        width: 20px;
                        height: 20px;
                        padding: 0;
                        font-size: 0;
                        border: 0;
                        outline: 0;
                        cursor: pointer;
                        position: absolute;
                        top: 10px;
                        right: 120px;

                        > i{
                            font-size: 30px;
                            line-height: 20px;
                        }
                        
                    }

                }

                #folder_img_outline{
                    width: 290px;
                    height: 250px;
                    margin: 0 auto;
                    cursor: pointer;

                    > img{
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                    }

                }

            }

            #folder_last{
                width: 330px;
                height: 330px;
                background-color: transparent;
                // border: 1px solid red;
                display: flex;
                justify-content: center;
                align-items: center;

                @media (max-width: 767.98px){
                    grid-area: first;
                }

                #add_folder{
                    width: 100px;
                    height: 100px;
                    background-color: $palePike;
                    border: 0;
                    outline: 0;
                    border-radius: 10px;
                    cursor: pointer;

                    @media (max-width: 767.98px){
                        // margin-left: 100px;
                    }

                    > i{
                        color: $lightPike;
                        font-size: 85px;
                    }

                }
            }

        }

    }

    #bottom_snow_img{
        display: block;
        width: 100vw;
        position: relative;
        left: 50%;
        transform: rotate(180deg) translateX(50%);
        overflow: hidden;

        > img{
            min-width: 1200px;
        }
    }

}

//版面問題
// RWD
// 1. 手機版各元件要縮小
// 2. 手機版.title_h1組件要使用嗎?
// 3. 手機版的增加資料夾按鈕要如何顯現