#main-bar-img{
    height: 500px;
    background-image: url("../../img/background_img500.png");
    background-size: auto 100%;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#member_fav_detail_page{
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    font-size: 0;

    .main_bar{
        height: 500px;
        padding-top: 150px;
        
        #avatar_container{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            margin: 0px auto 50px;
        }
        #member_page_nav{
            // border: 1px solid blue;

            display: flex;
            justify-content: space-between;
            width: 410px;
            margin: 0 auto 110px;

            .member_page_nav_link{
                // border: 1px solid green;

                width: 82px;
                height: 92px;
                display: inline-flex;
                flex-direction: column;
                align-items: center;

                > img{
                    width: 50px;
                    height: 50px;
                    margin-bottom: 10px;
                    cursor: pointer;
                }

                > span{
                    width: 82px;
                    height: 32px;
                    background-color: #FFFFFF;
                    border-radius: 15px;
                    text-align: center;
                    font-size: $p;
                    line-height: 32px;
                    color: #9F746B;
                    cursor: pointer;
                }
            }
            .member_page_nav_link.-on{
                > span{
                    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }

    #fav_folder{
        text-align: center;
        margin-bottom: 32px;

        #fav_area{
            margin: 33px 25px 5px;
            display: inline-grid;
            grid-template-columns: auto auto auto;
            grid-auto-rows: auto;
            grid-gap: 70px 50px;
            width: auto;
            
            @media (max-width: 1199.98px){
                grid-template-columns: auto auto;
                margin: 33px 19px 5px;
                grid-gap: 42px 30px;
            }

            @media (max-width: 767.98px){
                grid-template-columns: auto;
                grid-auto-rows: auto;
                grid-auto-flow: row;
                grid-column-gap: 65px;
                margin: 33px 10px 5px;
            }

            .card_outline{
                box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);

                .description_block{
                    
                    .cake_title{
                        margin: 15px 0;
                        text-align: left;
                        font-size: $h4;
                        line-height: 20px;
                        color: #515151;
                        font-weight: 400;
                    }

                    .design_idea{
                        margin: 0;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size: $p;
                        line-height: 16px;
                        color: #515151;
                    }

                    .interact_area{
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;

                        .go_shopping{
                            margin-top: 15px;
                            width: 180px;
                            height: 60px;
                            border-radius: 100px;
                            border: 0;
                            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
                            font-size: $h4;
                            position: relative;
                            color: #515151;
                            cursor: pointer;
                            background-color: #EFE6E4;
                            &:hover{
                                background-color: #F4E9C9;
                            }

                        }

                        .delete{
                            display: inline-block;
                            cursor: pointer;
                            margin-bottom: 3px;

                            > i{
                                font-size: 30px;
                                color: #515151;
                            }

                        }

                    }

                }
            
            }

        }

    }

    #bottom_snow_img{
        display: block;
        width: 100vw;
        position: relative;
        left: 50%;
        transform: rotate(180deg) translateX(50%);
        overflow: hidden;

        > img{
            min-width: 1200px;
        }

    }

}

//版面問題
// RWD
// 1. 手機版各元件要縮小
// 2. 手機版.title_h1組件要使用嗎?