#main-bar-img{
    height: 500px;
    background-image: url("../../img/background_img500.png");
    background-size: auto 100%;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#member_data_page{
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;

    .main_bar{
        height: 500px;
        padding-top: 150px;
        
        #avatar_container{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            margin: 0px auto 50px;
        }
        #member_page_nav{
            // border: 1px solid blue;

            display: flex;
            justify-content: space-between;
            width: 410px;
            margin: 0 auto 110px;

            .member_page_nav_link{
                // border: 1px solid green;

                width: 82px;
                height: 92px;
                display: inline-flex;
                flex-direction: column;
                align-items: center;

                > img{
                    width: 50px;
                    height: 50px;
                    margin-bottom: 10px;
                    cursor: pointer;
                }

                > span{
                    width: 82px;
                    height: 32px;
                    background-color: #FFFFFF;
                    border-radius: 15px;
                    text-align: center;
                    font-size: $p;
                    line-height: 32px;
                    color: #9F746B;
                    cursor: pointer;
                }
            }
            .member_page_nav_link.-on{
                > span{
                    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }

    #member_name_block{
        width: 535px;
        font-size: 0px;
        margin: 40px auto 70px;
        color: $darkGrey;

        > form{
            display: flex;
            justify-content: space-between;

            span{
                font-size: $h4;
            }

            .data-input{
                border: 1px solid #515151;
                outline: none;
                font-size: $h4;

                display: none;
            }

            img{
                position: relative;
                top: 2.5px;
                cursor: pointer;
                margin-left: 7px;
            }

        }

    }

    #member_data_block{
        width: 93%;
        height: 250px;
        margin: 0 auto;
        padding-left: 100px;
        background-color: #F7EDD4;
        color: $darkGrey;
        border-radius: 5px;

        > form{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            > div{
                padding: 10px 0;

                span{
                    font-size: $h4;
                }

                img{
                    position: relative;
                    top: 2.5px;
                    cursor: pointer;
                }

                .data-input{
                    border: 1px solid #515151;
                    outline: none;
                    font-size: $h4;

                    display: none;
                }

            }

        }

    }

    #cake_design{
        text-align: center;
        padding: 0 40px;

        .title_h1{
            margin-bottom: 40px;

            > h1{
                margin-top: 50px;
                font-weight: normal;
            }

        }

        #cake_design_cards{
            text-align: left;
            display: flex;
            justify-content: space-between;

            .card_outline{
                box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);

                .description_block{
                    
                    .cake_title{
                        margin: 15px 0;
                        text-align: left;
                        font-size: $h4;
                        line-height: 20px;
                        color: #515151;
                        font-weight: 400;
                    }

                    .design_idea{
                        margin: 0;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size: $p;
                        line-height: 16px;
                        color: #515151;
                    }

                    .status_area{
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;

                        .verify{
                            margin-top: 35px;
                            color: #5A9308;
                            font-size: 0px;

                            .status_ball{
                                vertical-align: middle;
                                font-size: $p;
                                margin-right: 3px;
                            }

                            .status_text{
                                font-size: 12px;
                                vertical-align: middle;
                            }

                        }

                        .checking{
                            margin-top: 15px;
                            width: 180px;
                            height: 60px;
                            border-radius: 100px;
                            border: 0;
                            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
                            font-size: $h4;
                            position: relative;
                            color: #515151;
                            cursor: pointer;
                            background-color: #EFE6E4;
                            &:hover{
                                background-color: #F4E9C9;
                            }

                            > i{
                                position: absolute;
                                right: 15px;
                                top: 30px;
                                transform: translateY(-50%);
                            }

                        }

                    }

                }
            
            }

        }

        #view_all_design_area{

            #view_all_design_button{
                width: 180px;
                height: 60px;
                background-color: #707070;
                color: #FFFFFF;
                border: 0;
                outline: none;
                cursor: pointer;
                border-radius: 7px;
                margin: 50px 0;
                font-size: $h3;
                box-shadow: $shadow;
                &:hover{
                    background-color: $lightYellow;
                    color: $darkGrey;
                }
            }
        }

    }

    #coupon_block{
        margin: 0 40px 32px;
        background-color: $palePike;
        border-radius: 5px;
        text-align: center;

        .title_h1{

            >span{
                // 顏色不搭，讓品涵確認一下
                // background-color: #F0D5CE;
            }

            > h1{
                margin-bottom: 32px;
                font-weight: normal;
            }
        }

        #coupon_area{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0 40px;

            #coupon{
                display: inline-flex;
                margin: 0 15px 30px;

                #coupon_left_block{
                    width: 300px;
                    height: 150px;
                    background-color: #F0D5CE;
                    position: relative;
                    border-right: 1px solid $palePike;
                    border-top-left-radius: 5px;

                    #discount_amout{
                        font-size: 50px;
                        line-height: 56px;
                        position: absolute;
                        top: 19px;
                        left: 27px;
                        color: #515151;
                    }

                    #A_cake_text_logo{
                        width: 60px;
                        height: 22px;
                        position: absolute;
                        top: 33px;
                        right: 34px;
                        overflow: hidden;

                        // border: 1px solid blue;

                        > img{
                            width: 100%;
                        }

                        > span{
                            font-size: 5px;
                            line-height: 4px;
                            color: #515151
                        }

                    }

                    #coupon_left_decoration_img{
                        // 此處樣式未確定
                        position: absolute;
                        left: 27px;
                        bottom: 20px;
                    }

                    #use_threshold{
                        font-size: $p;
                        color: #515151;
                        position: absolute;
                        bottom: 30px;
                        right: 34px;
                    }

                    #bottom_decoration_img{
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transform: rotate(180deg);
                    }

                    > svg{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transform: rotate(180deg);
                    }

                }

                #coupon_right_block{
                    background-color: #F7EDD4;
                    position: relative;
                    width: 120px;
                    height: 150px;
                    border-bottom-right-radius: 5px;

                    &::after{
                        content: "";
                        display: inline-block;
                        width: 42px;
                        height: 42px;
                        position: absolute;
                        top: 0;
                        right: 0;
                        background-image: linear-gradient(45deg, #EFDCAC 50%, $palePike 50%);
                        border-bottom-left-radius: 5px;
                    }

                    #expiration{
                        width: 80px;
                        height: 31px;
                        position: absolute;
                        top: 30px;
                        left: 20px;
                        display: flex;
                        flex-direction: column;

                        > span:first-child{
                            align-self: flex-start;
                            font-size: 12px;
                            transform: scale(0.83);
                            transform-origin:center left;
                            line-height: 14px;
                            color: #515151;
                            margin-bottom: 3px;
                        }

                        #expiration_date{
                            align-self: flex-end;
                            font-size: 12px;
                            line-height: 14px;
                            color: #515151;
                        }

                    }

                    #coupon_right_decoration_img{
                        position: absolute;
                        top: 65px;
                        left: 10px;
                        width: 39px;
                        height: 39px;
                        overflow: hidden;

                        > img{
                            width: 100%;
                        }

                    }

                    #expiration_countdown{
                        color: #E8542E;
                        font-size: 12px;
                        white-space: nowrap;
                        transform: scale(.6);
                        transform-origin:center left;
                        position: absolute;
                        line-height: 10px;
                        left: 28px;
                        bottom: 32px;
                    }

                }

            }

        }

        #view_all_coupon{
            display: inline-block;
            width: 40px;
            height: 36px;
            background-color: transparent;
            padding: 0;
            border: 0;
            outline: none;
            font-size: 0;
            text-align: center;
            cursor: pointer;
            position: relative;
            top: -20px;

            > i{
                display: inline-block;
                font-size: 30px;
                line-height: 3px;
            }
            
        }

    }

    #bottom_snow_img{
        display: block;
        width: 100vw;
        position: relative;
        left: 50%;
        transform: rotate(180deg) translateX(50%);
        overflow: hidden;

        > img{
            min-width: 1200px;
        }

    }

}

//
// 折價券h1組件的底線顏色不搭(可搜尋"品涵"前往該樣式)
// 折價券展開的按鈕view_all_coupon要往下一點嗎