#shopping_banner{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 350px;
    max-width: 1200px;
    width: 100%;
    // background-color: #;
    .shopping_title{
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}
#shopping_cart_bread{
    width: 60%;
    justify-content: space-around;
    display: flex;
    margin: 0 auto;
    font-size: 36px;
}
