#product_page_main_bar{
    width:100%;
    max-width: 1120px;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    .search{
        position: relative;
        left: 100%;
        transform: translateX(-100%);
        margin-bottom: 50px;
    }
    >div{
        margin-top: 100px;
    }
}
#product_page_main{
    width:100%;
    max-width: 1120px;
    margin:0 auto;
    .title_h1{
        left: 50%;
        transform: translateX(-100%);
        margin-top:100px;
        margin-left:150px;
        margin-bottom:65px;
    }
}

// 下方商品卡片
section#product_items{
    width:100%;
    max-width:1120px;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap:70px 35px;
    justify-content: space-between;
    margin-bottom:80px;
    .card_outline{
        width:100%;
        max-width: 350px;
        margin:0 auto;
        .img_container{
            width:100%;
            height:auto;
        }
    }
    
}