.shopping_banner{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 350px;
    max-width: 1200px;
    width: 100%;
    .shopping_title{
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}

// 購物車麵包屑
.shopping_cart_bread{
    width: 60%;
    justify-content: space-around;
    display: flex;
    margin: 0 auto;
    font-size: 36px;
    .prepare_checkout_page,.checkout_page{
        opacity: .2;
       
    }
}
.shopping_cart_bread_arrow_img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}
// 購物車麵包屑RWD768
@media screen and (max-width:767.98px){ 
    .shopping_cart_bread{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .shopping_cart_bread_arrow_img{
        width: 20px;
        height: 20px;
        object-fit: cover;
        transform: rotate(90deg);
    }
    .shopping_cart_page,.prepare_checkout_page,.checkout_page{
        font-size: $h4;

    }
}




.shopping_cart_list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
;
    .shopping_cart_list_outline{
        padding-top: 40px;
        padding-bottom: 40px;
        width: 90%;
        background-color: #DFB9B0;
        border-radius: 5px;
        height: 230px;
        // margin: 0 auto;
        margin-bottom: 40px;
        .shopping_cart_block{
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            max-width: 1050px;
            .choose_cakeandimg{
                display: flex;
                align-items: center;
                max-width: 215px;
                width: 100%;
                justify-content: space-between;
            }
            .shopping_cart_check{
                width: 30px;   
                height: 30px;
                cursor: pointer;
            }
            .shopping_cart_img{
                width: 150px;
                height: 150px;
            }
            .choose_contentandcancel{
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 800px;
                width: 100%;
                margin-left: 50px;
                .choose_content{
                    max-width: 750px;
                    width: 100%;
                }
                .cancel_logo{
                    width: 25px;
                    height: 30px;
                    cursor: pointer;
                }
            }
        }
    }
}
@media screen and (max-width:767.98px){ 

}
.shopping_cart_button{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    .return_shopping,.goto_checkout{
        width: 120px;
        height: 60px;
        font-size: 20px;
        text-align: center;
        align-items: center;
        color: white;
        background-color: $darkGrey;
        cursor: pointer;
        border-radius: 10px;
    }
    .goto_checkout:hover{
        color: $lightYellow;
    }
    .return_shopping:hover{
        color: $lightYellow;
    }
}