
#vote_page_main_bar{
    width:100%;
    max-width: 1200px;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    >div{
        margin-top:100px;
    }
    p{
        // width:550px;
        text-align: center;
        margin-top:35px;
        font-size: 16px;
        line-height: 32px;
        margin-bottom:100px;
        span{
            display: block;
        }
    }
}
#vote_page_main{
    width:100%;
    max-width: 1120px;
    margin:0 auto;
    border:1px solid red;
    .search{
        position: relative;
        left:100%;
        transform: translateX(-100%);
        margin-bottom:50px;
    }
}

.vote_title{
    margin-top:100px;
    margin-left:150px;
    margin-bottom:65px;
}
#topthree{
    display:grid;
    gap:35px;
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
    div.vote_topthree{
        margin:0 auto;
        display: inline-block;
        position: relative;
        background-color: #F7EDD4;
        color:#515151;
        .topthree_hat{
            position:absolute;
            width:110px;
            height:110px;
            border:1px solid red;
            left:-20px;
            top:-50px;
            transform: rotate(-15deg);
        }
        .pic_cake{
            height:260px;
        }
        >div{
            padding:10px;
            h1{
                margin:0;
            }
            p{
                margin:0;
            }
        }
    }
}
// 以下為參賽作品
section#vote{
    width:100%;
    max-width:1120px;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap:70px 35px;
    justify-content: space-between;
    margin-bottom:80px;
    .card_outline{
        width:100%;
        max-width: 350px;
        margin:0 auto;
        .img_container{
            width:100%;
            height:auto;
        }
    }
    
}
// 以上為參賽作品